.svn
.svn/*.*
*.so
*.o
cscope.files
cscope.out
spserver/libspserver.a
spserver/testchat
spserver/testchat_d
spserver/testdispatcher
spserver/testecho
spserver/testhttp
spserver/testhttp_d
spserver/testhttpmsg
spserver/testsmtp
spserver/teststress
spserver/testthreadpool
spserver/testunp
/win32/.vs
/win32/testiocphttps/x64
/win32/x64/Debug/*.pdb
/win32/x64/Release/web_root
/win32/x64/Release/layuimini
/win32/x64/Release/openssl
/thirdparty/openssl/OpenSSL_Lib_Debug_x64/*.log
/thirdparty/openssl/OpenSSL_Lib_Release_x64
/thirdparty/openssl/OpenSSL_Lib_Debug_x64
